<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Page</h1>
    <form action="/admin" method="post" th:object="${employee}">
        <label>User Id</label>
        <input type="text" name="userId" th:field="*{userId}">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <label>Department</label>
        <input type="text" name="department" th:field="*{department}">
        <br>
        <br>
        <button>Register</button>
    </form>
</body>
</html>